/.venv
/__pycache__
nohup.out

log/
!log/.gitkeep
models/*
!models/.gitkeep
!models/dqn_model_random_map.zip
!models/dqn_model_determinist_map.zip

PPO_minigrid/__pycache__/
PPO_minigrid/log/*
!PPO_minigrid/log/.gitkeep
!PPO_minigrid/log/PPO_1_determinist_map
PPO_minigrid/models/*
!PPO_minigrid/models/.gitkeep
!PPO_minigrid/models/ppo_minigrid_model_determinist_map.zip
